<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WS Chat</title>
    <link href="/stylesheet.css" rel="stylesheet">
  </head>
  <body>
    <div class="nav">
      <h3 style="float:left;" id="user"></h3>
      <nav class="navbar" style="float:right;">
        <input type="button" onclick="location.href='/logout';" value="Logout" />
      </nav>
    </div>
    <div class="container">
      <div class="side">
        <div class="chatList">
          <h4>Chats</h4>
          <div id="chats">
            <input type="button" class="btn-group" id="createChat" value="Create chat" /><br>
            <input type="button" class="btn-group" id="joinChat" value="Join chat" />
            <!-- Scripted -->
          </div>
        </div>
        <div class="friendList">
          <h4>Friends</h4>
          <div id="addFriend" style="display:none;">
            <input type="text" id="findUser" value="Search">
            <!-- Scripted -->
          </div>
          <input type="button" class="btn-group" id="findFriend" value="Add a friend" />
          <div id="friends">
            <!-- Scripted -->
          </div>
        </div>
      </div>
      <div class="history">
        <div class="historyContainer">
          <div id="chatWindow"><!-- Scripted --></div>
        </div>
        <form class="messageForm" action="/chat" method="post">
          <input type="textarea" class="message" autofocus>
          <input type="submit" class="submit" value="Send">
        </form>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="client.js"></script>
  </body>
</html>
