* {box-sizing: border-box;font-family: 'Poppins', sans-serif; margin: 0;}

/* root */
div.wrapper {
  width: 80%;
  margin: 0 auto;
  height: 80vh;
  margin-top: 10vh;
  -webkit-box-shadow: 10px 0px 15px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 0px 15px -5px rgba(0,0,0,0.5);
  box-shadow: 10px 0px 15px -5px rgba(0,0,0,0.5);
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border: 0px solid #000000;
}
div.img {
  width: 50%;
  overflow: hidden;
  float: left;
  height: 100%;
  border-radius: 25px 0 0 25px;
  -moz-border-radius: 25px 0 0 25px;
  -webkit-border-radius: 25px 0 0 25px;
  border: 0px solid #000000;
}
div.img img{
  margin: auto;
  height: 150%;
  top: -25%;
  max-width: none;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
div.auth-container {
  width: 50%;
  float: right;
  z-index: 5;
  height: 100%;
  color:#e6e6e6;
  text-align: center;
  background: url("/texture.png");
  padding: 3rem;
  background-repeat: repeat;
  -webkit-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.3);
  box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.3);
  border-radius: 0 25px 25px 0;
  -moz-border-radius: 0 25px 25px 0;
  -webkit-border-radius: 0 25px 25px 0;
}
.box, #logged {
  text-align: left;
  height: 400px;
  margin-top: 30%;
  width: 250px;
}
label {
  display: block;
  width: 150px;
}
input, button {
  width: 250px;
}
footer {
  position: sticky;
  bottom: 10px;
}

hr{
  margin: 5px 0 5px 0;
}

#loginForm, #registerForm{
  height: 150px;
}
#goToReg{
  margin-bottom: 100px;
}

@media screen and (max-width: 885px) {
  body {
    background: url("/background.jpg");
  }
  div.img{
    display: none;
  }
  div.auth-container {
    width: 100%;
    z-index: 100;
    padding: 2.5%;
    border-radius: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }
  input, button, .box {
    width: 100%;
  }
  #goToReg{
    margin-bottom: 30px;
  }
}

/* Chat HTML */
div.nav{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  height: 5vh;
  padding: 1rem 0.2rem 1rem 0.2rem;
  background-color: hsl(0, 0%, 98%);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.38);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.38);
  z-index: 7;
}
#user {
  margin: 0 0 0 1rem;
}
nav.navbar input{
  height: 20px;
  width: 150px;
  margin: 0 1rem 0 0;
}

div.container {
  display: flex;
  flex-wrap: wrap;
}
div.side {
  flex-grow: 1;
  height: 95vh;
  max-width: 300px;
  background-color: hsl(0, 0%, 97%);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.38);
  z-index: 5;
}
div.history{
  flex-grow: 9;
  background-color: hsl(0, 0%, 99%);
  padding-left: 10px;
  z-index: 3;
}

div.historyContainer {
  width: 100%;
  height: 95%
}

form.messageForm {
  width: 100%;
  height: 5%;
}

input.message {
  width: 80%;
  height: 80%;
  padding: 6px;
}

input.submit {
  width: 19%;
  height: 80%;
  background-color: hsl(0, 0%, 95%);
  border: none;
  border-radius: 8px;
}

input.submit:hover {background-color: hsl(0, 0%, 91%);}

#chatWindow {
  width: 100%;
  height: 84vh;
  overflow-y: scroll;
}

#chats, #friends {
  padding: 10px 0 10px 0;
}

#chats h5, #friends h5 {
  margin: 10px;
}

#friendResult {
  margin: 5px 0 5px 0;
  min-height: 100px;
  width: 100%;
  padding: 10px;
}

#createChatDiv,#createChatForm {
  width:100%;
}

#createChatForm input{
  width: 100%;
}

.btn-group  {
  width: 100%;
  height: 25px;
  background-color: hsl(0, 0%, 95%);
  border: none;
  padding: 3px;
  margin: 2px;
  border-radius: 8px;
}

.btn-group:hover  {
  background-color: hsl(0, 0%, 91%);
}

h5.titles {
  text-align: center;
  color:#666666;
  text-decoration: underline;
}

div.user-badge, div.chat-badge {
  width: 100%;
  height: 23px;
  margin: 5px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
  padding-left:10px;
}

.chat_name, div.user-badge p, div.chat-badge p {
  padding: 4px 0 0 0;
}

div.user-badge:hover, div.chat-badge:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(26, 83, 255,0.75);
  -moz-box-shadow: 0px 0px 25px -5px rgba(26, 83, 255,0.75);
  box-shadow: 0px 0px 25px -5px rgba(26, 83, 255,0.75);
}

div.user-badge:active, div.chat-badge:active {
  cursor: pointer;
  background-color: hsl(0, 0%, 92%);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.cntrl {
    width: auto;
    height: 23px;
    float: right;
}

.disabled{
    pointer-events: none;
    opacity: 0.4;
}

div.chatList, div.friendList{
  height: 50%;
  padding: 1rem;
}

.status {
  color: red;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.modal {
  position: absolute;
  top: 10%;
  left: 50%;
  display: none;
  max-height: 500px;
  padding: 3rem;
  background-color: white;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(26, 83, 255,0.75);
  -moz-box-shadow: 0px 0px 25px -5px rgba(26, 83, 255,0.75);
  box-shadow: 0px 0px 25px -5px rgba(26, 83, 255,0.75);
  z-index: 101;
}

.messageDiv {
  width:60%;
  padding: 20px;
  margin: 15px;
  background-color: white;
  border-radius: 30px 30px 30px 0px;
  -moz-border-radius: 30px 30px 30px 0px;
  -webkit-border-radius: 30px 30px 30px 0px;
  border: 0px solid #000000;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.messageDiv p {
  margin: 8px 0 8px 0;
}

span.user{
  position: relative;
  float: left;
  color: grey;
  bottom: 5px;
  left: -8px;
}

span.time {
  position: relative;
  float: right;
  color: grey;
  bottom: 5px;
}

#renameChatForm input {
  width: 100%;
  margin-top: 15px;
}

@media screen and (max-width: 885px) {
  div.container {
    flex-direction: column;
  }
  div.side{
    max-width: none;
  }
  .messageDiv {
    width: 90%;
  }
}
